### 4.4 Produzindo Tabulações

Esta seção apresenta duas diferentes técnicas para tabular dados a partir de DataFrames.

* Unique (): Retorna o domínio de um atributo do DataFrame, isto é, todas as categorias distintas que ele assume.

* Value_counts(): Gera uma tabela de frequências simples para o atributo.

In [ ]:
#P28: Métodos unique() e value_counts().
import pandas as pd

# (1) - Cria o DataFrame.
dados = {
        'sexo': ['F', 'M', 'F', 'F', 'F', 'M'],
        'bairro': ['Belverde', 'Belverde', 'Savassi', 'Anchieta', None, 'Savassi'],
        'valor': [150.00, 35.00, 80.00, 250.00, 9.90, 25.00],
        'cartao': ['Master', 'Visa', 'Visa', 'Amex', 'Elo', 'Master']
        }

id_clientes = [1, 2, 3, 4, 5, 6]
vendas = pd.DataFrame(dados, index=id_clientes)

# (2) - Retorna o domínio dos atributos categóricos.
print('Domínio dos atributos categóricos:')
print('----------------------------------')
print('sexo:',vendas['sexo'].unique())
print('bairro:',vendas['bairro'].unique())
print('cartao', vendas['cartao'].unique())

# (3) - Retorna as frequências dos valores de cada coluna.
print('\n')
print('Tabelas de frequência:')
print('----------------------')
print('\n-sexo')
print(vendas['sexo'].value_counts())
print('\n2-bairro')
print(vendas['bairro'].value_counts())
print('\n3-cartao')
print(vendas['cartao'].value_counts())

### 4.4.1 Agregações

In [10]:
#P29: Agregação com o método 'group_by()'.

# (1) - Cria o DataFrame.
dados = {
        'sexo': ['F', 'M', 'F', 'F', 'F', 'M'],
        'bairro': ['Belverde', 'Belverde', 'Savassi', 'Anchieta', None, 'Savassi'],
        'valor': [150.00, 35.00, 80.00, 250.00, 9.90, 25.00],
        'cartao': ['Master', 'Visa', 'Visa', 'Amex', 'Elo', 'Master']
        }

id_clientes = [1,2,3,4,5,6]
vendas = pd.DataFrame(dados, index=id_clientes)

# (2) - Gera uma variável "grouped".
grupo_valor_bairro = vendas['valor'].groupby(vendas['bairro'])

# (3) - Computa agregados a partir da variável gerada.
print('- Quantidade de Clientes, por bairro:\n', grupo_valor_bairro.count())
print('-----------------------------------------------------')
print('- Valor total das vendas, por bairro:\n', grupo_valor_bairro.sum())
print('-----------------------------------------------------')
print('- Valor médio das vendas, por bairro:\n ', grupo_valor_bairro.mean())

- Quantidade de Clientes, por bairro:
 bairro
Anchieta    1
Belverde    2
Savassi     2
Name: valor, dtype: int64
-----------------------------------------------------
- Valor total das vendas, por bairro:
 bairro
Anchieta    250.0
Belverde    185.0
Savassi     105.0
Name: valor, dtype: float64
-----------------------------------------------------
- Valor médio das vendas, por bairro:
  bairro
Anchieta    250.0
Belverde     92.5
Savassi      52.5
Name: valor, dtype: float64

In [32]:
Dados = pd.DataFrame(dados)
Dados

  sexo    bairro  valor  cartao
0    F  Belverde  150.0  Master
1    M  Belverde   35.0    Visa
2    F   Savassi   80.0    Visa
3    F  Anchieta  250.0    Amex
4    F      None    9.9     Elo
5    M   Savassi   25.0  Master