### 4.4.1 Agregações

In [3]:
#P29 Agregação com método 'group_by()'
import pandas as pd

# (1) - Cria o DataFrame.
dados = {
        'sexo': ['F','M','F','F','F','M'],
        'bairro': ["Belverde", "Belverde", "Savassi", "Anchieta", None, "Savassi"],
        'valor': [150.00, 35.00, 80.00, 250.00, 9.90, 25.00],
        'cartao': ["Master", "Visa", "Visa", "Amex", "Elo", "Master"]
        }

id_cliente = [1,2,3,4,5,6]

vendas = pd.DataFrame(dados, index=id_cliente)

# Gera uma variável "grouped".
# Onde a chave é "bairro" e a medida 'valor'.
grupo_valor_bairro = vendas['valor'].groupby(vendas['bairro'])

# (3) - Computa agregados a partir da variável gerada.
print('- Quantidade de clientes, por bairro:\n', grupo_valor_bairro.count())
print('-------------------------------------------------------------------')
print('- Valor total das vendas, por bairro:\n', grupo_valor_bairro.sum())
print('-------------------------------------------------------------------')
print('- Valor médio das vendas, por bairro:\n', grupo_valor_bairro.mean())

- Quantidade de clientes, por bairro:
 bairro
Anchieta    1
Belverde    2
Savassi     2
Name: valor, dtype: int64
-------------------------------------------------------------------
- Valor total das vendas, por bairro:
 bairro
Anchieta    250.0
Belverde    185.0
Savassi     105.0
Name: valor, dtype: float64
-------------------------------------------------------------------
- Valor médio das vendas, por bairro:
 bairro
Anchieta    250.0
Belverde     92.5
Savassi      52.5
Name: valor, dtype: float64

### Agregação Composta

In [7]:
vendas

  sexo    bairro  valor  cartao
1    F  Belverde  150.0  Master
2    M  Belverde   35.0    Visa
3    F   Savassi   80.0    Visa
4    F  Anchieta  250.0    Amex
5    F      None    9.9     Elo
6    M   Savassi   25.0  Master

In [12]:
grupo_valor_sexo_bairro = vendas['valor'].groupby([vendas['sexo'],vendas['bairro']])
print('Quantidade de vendas por sexo e bairro:\n', grupo_valor_sexo_bairro.sum())

Quantidade de vendas por sexo e bairro:
 sexo  bairro
F     Anchieta    250.0
      Belverde    150.0
      Savassi      80.0
M     Belverde     35.0
      Savassi      25.0
Name: valor, dtype: float64