## Capítulo 3 - A estrutura de dados DataFrame.

### Busca

In [30]:
#P13: Busca em DataFrames.
import pandas as pd

# Cria o DataFrame.
dados = {
        'nome': ['Argentina','Brasil','Franca','Italia'],
        'continente': ['America','America','Europa','Europa'],
        'extensao': [2780, 85111, 644, 301],
        'corVerde': [0,1,0,1]
        }

siglas = ['AR','BR','FR', 'IT']
paises = pd.DataFrame(dados, index=siglas)
print(paises)

# Testa se um dado rótulo de linha existe.
tem_BR = 'BR' in paises.index
tem_US = 'US' in paises.index
print("Existe rotulo 'BR'? ->", tem_BR)
print("Existe rotulo 'US'? ->", tem_US)
print('------------------------------')

# Testa se um dado rótulo de coluna existe.
tem_corVerde = 'corVerde' in paises.columns
tem_corAzul = 'corAzul' in paises.columns
print("Existe o rotulo 'corVerde?' -> ", tem_corVerde)
print("Existe o rotulo 'corAzul?' -> ", tem_corAzul)

         nome continente  extensao  corVerde
AR  Argentina    America      2780         0
BR     Brasil    America     85111         1
FR     Franca     Europa       644         0
IT     Italia     Europa       301         1
Existe rotulo 'BR'? -> True
Existe rotulo 'US'? -> False
------------------------------
Existe o rotulo 'corVerde?' ->  True
Existe o rotulo 'corAzul?' ->  False

### Modificação

In [26]:
#P14: Modificação de DataFrame.
import pandas as pd

# Cria o DataFrame.
dados = {
        'nome': ['Argentina','Brasil','Franca','Italia','Reino Unido'],
        'continente': ['America','America','Europa','Europa','Europa'],
        'extensao': [2780, 85111, 644, 301, 244],
        'corVerde': [0,1,0,1,0]
        }

siglas = ['AR','BR','FR', 'IT', 'UK']

paises = pd.DataFrame(dados, index=siglas)
print(paises)

           nome continente  extensao  corVerde
AR    Argentina    America      2780         0
BR       Brasil    America     85111         1
FR       Franca     Europa       644         0
IT       Italia     Europa       301         1
UK  Reino Unido     Europa       244         0

In [27]:
# Insere o país Japão (JP).
paises.loc['JP'] = {
                    'nome':'Japão',
                    'continente': 'Ásia',
                    'extensao': 372,
                    'corVerde': 0
                    }
print(paises)

           nome continente  extensao  corVerde
AR    Argentina    America      2780         0
BR       Brasil    America     85111         1
FR       Franca     Europa       644         0
IT       Italia     Europa       301         1
UK  Reino Unido     Europa       244         0
JP        Japão       Ásia       372         0

In [28]:
# altera a extensão do Brasil.
paises.at['BR','extensao'] = 8512
print(paises)

           nome continente  extensao  corVerde
AR    Argentina    America      2780         0
BR       Brasil    America      8512         1
FR       Franca     Europa       644         0
IT       Italia     Europa       301         1
UK  Reino Unido     Europa       244         0
JP        Japão       Ásia       372         0

In [29]:
# Remove a Argentina e o Reino Unido.
paises = paises.drop(['AR','UK'])
print('DataFrame após todas alterações:')
print("")
print(paises)

DataFrame após todas alterações:

      nome continente  extensao  corVerde
BR  Brasil    America      8512         1
FR  Franca     Europa       644         0
IT  Italia     Europa       301         1
JP   Japão       Ásia       372         0

#

### 3.3 Trabalhando com arquivos.

In [4]:
#P15: Importação de CSV padrão para um DataFrame.
import pandas as pd

paises = pd.read_csv(r"C:/Users/Iris/OneDrive - dmie.com.br/Desktop/Pandas/paises.csv", index_col="sigla")
print(paises)

              nome continente  extensao  corVerde
sigla
AR       Argentina    América      2780         0
BR          Brasil    América      8511         1
FR          França     Europa       644         0
IT          Itália     Europa       301         1
UK     Reino Unido     Europa       244         0

In [14]:
#P16: Importação de CSV sem cabeçalho e com ";" como separador.
import pandas as pd

notas = pd.read_csv(r"C:/Users/Iris/OneDrive - dmie.com.br/Desktop/Pandas/notas.csv", sep=";", names=['matricula', 'nota1', 'nota2'], index_col='matricula')
print(notas)

           nota1  nota2
matricula
M0012017     9.8    9.5
M0022017     5.3    4.1
M0032017     2.5    8.0
M0042017     7.5    7.5

In [18]:
# P17: Importação de arquivo com série temporal.
import pandas as pd

# Importa o arquivo para uma Series.
serie_gols = pd.read_csv(r"C:/Users/Iris/OneDrive - dmie.com.br/Desktop/Pandas/gols.csv", sep=" ", squeeze=True, index_col=0)

# Converte o tipo do indice para datetime e imprime a série.
serie_gols.index = pd.to_datetime(serie_gols.index, format='%d/%m/%Y')
print(serie_gols)

TypeError: read_csv() got an unexpected keyword argument 'squeeze'

### Arquivo Excel

In [26]:
#P18: Importação de planilha Excel.
import pandas as pd

cidades = pd.read_excel(r"C:/Users/Iris/OneDrive - dmie.com.br/Desktop/Pandas/capitais.xlsx")
print(cidades)

            capital   região  população
0   Belém            Sudeste    1446042
1   Belo Horizonte   Sudeste    2513451
2   Boa Vista          Norte     326419
3   Curitiba             Sul    1893977
4   Florianópolis        Sul     477798
5   Macapá             Norte     465495
6   Manaus             Norte    2094391
7   Palmas             Norte     279856
8   Porto Alegre         Sul    1481019
9   Porto Velho        Norte     511219
10  Rio Branco         Norte     377057
11  São Paulo        Sudeste   12038175
12  Rio de Janeiro   Sudeste    6498837
13  Vitória          Sudeste     359555

### Arquivo JSON

In [27]:
# Importação de planilhas Excel.
import pandas as pd
import json

#(1) - Importa o arquivo JSON para memória.
with open("C:/Users/Iris/OneDrive - dmie.com.br/Desktop/Pandas/notas.json") as f:
    j_notas = json.load(f)

#(2) - Transfere as informações para um DataFrame.
notas = pd.DataFrame(j_notas, columns= ['matricula', 'notas'])
print(notas)

  matricula       notas
0  M0012017  [9.8, 9.5]
1  M0022017  [5.3, 4.1]
2  M0032017  [2.5, 8.0]
3  M0042017  [7.5, 7.5]